    <li>@Html.ActionLink("Books", "Index", "Books")</li>
    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li>@Html.ActionLink("Library", "Index", "Libraries")</li>
    <li>@Html.ActionLink("Payment", "PaymentCheck", "Payment")</li>
    <li class="btn-default"><a href="~/User/Logout"><span>LOG OUT</span></a></li>
