@using YourLibrary.Models;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slider_section" style="margin-top:-110px">
    <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="~/Content/images/banner.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption relative">
                        <h1>The Best Libraries That<br> Every Book Lover Must<br> Visit!</h1>
                        <p>
                            “In a good bookroom you feel in some mysterious <br /> way that you are absorbing the wisdom contained <br /> in all the books through your skin,<br /> without even opening them.”<br />
                            ― Mark Twain
                        </p>
                        @{
                            User user = Session["mydata"] as User;
                        }
                        @if (user != null)
                        {
                            if (user.Role == true)
                            {
                                <div class="button_section"> <a class="main_bt" href="~/Books/Index">Read Books</a>  </div>
                            }
                        }
                        else
                        {
                            <div class="button_section"> <a class="main_bt" href="~/User/Login">Read Books</a>  </div>
                        }


                        <ul class="locat_icon">
                            <li> <a href="#"><img src="~/Content/icon/facebook.png"></a></li>
                            <li> <a href="#"><img src="~/Content/icon/Twitter.png"></a></li>
                            <li> <a href="#"><img src="~/Content/icon/linkedin.png"></a></li>
                            <li> <a href="#"><img src="~/Content/icon/instagram.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>